html {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

.page-container {
  min-height: 100vh;
  position: relative;
}

.id-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgb(224, 217, 227);
  text-align: center;
}

.id-box input[type="color"],
.id-box input[type="text"] {
  margin-top: 10px;
}

.id-box button {
  margin-left: 6px;
  border-radius: 10px;
}

.leaderboard-box {
  position: fixed;
  top: 10px;
  right: 10px;
  background: white;
  padding: 8px 12px;
  border: 1px solid #ccc;
  font-family: monospace;
  min-width: 160px;
  min-height: 15px;
  max-height: 100px;
  overflow-y: auto;
}

.id-box,
.leaderboard-box {
  z-index: 10;
}

.color-circle {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 0;
}
